.text-small {
  font-size: 18px;
  line-height: calc(30 / 18);
}

.text-smaller {
  font-size: 21px;
  line-height: calc(32 / 21);
}

.text-h3 {
  font-size: 24px;
  line-height: calc(56 / 24);
  font-weight: 700;
}

.text-large {
  font-size: 36px;
  line-height: calc(56 / 36);
  font-weight: 700;
}

.text-larger {
  font-size: 48px;
  font-weight: 700;
  line-height: calc(56 / 48);
}

@media screen and (max-width: 767px) {
  .text-large {
    font-size: 30px;
  }
}

@media screen and (max-width: 1023px) {
  .text-larger {
    font-size: 33px;
  }
}
